<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>新浪游戏管理后台</title>
<link href="/admin/statics/styles/reset.css" rel="stylesheet" type="text/css" />
<link href="/admin/statics/styles/system.css" rel="stylesheet" type="text/css" />
<link href="/admin/statics/styles/table_form.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/admin/statics/scripts/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/admin/statics/scripts/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="/admin/statics/scripts/formvalidator.js" charset="utf-8"></script>
<script language="javascript" type="text/javascript" src="/admin/statics/scripts/formvalidatorregex.js" charset="utf-8"></script>
<style type="text/css">
	html{ _overflow-y:scroll }
</style>
</head>
<body>
<div class="subnav">
{_if $submenu neq '' _}
    <div class="content-menu ib-a blue line-x">
        {_$submenu _}
	</div>
{_/if _}
</div>