{_include file="include/_header.inc.html" title="$title" _}
<script language="javascript" type="text/javascript" src="/admin/statics/scripts/My97DatePicker/calendar.js"></script>
<script language="javascript" type="text/javascript" src="/admin/statics/scripts/My97DatePicker/WdatePicker.js"></script>
<style>
	.box_relative
	{
	  position:absolute;
	  right: -16px;
	  top: 8px;
	  background-color: gainsboro;
	  width: 142px;
	  z-index: 1;
	}
	.td_rel{position: relative;}
	
</style>
<div class="pad_10">
	<div class="table-list">
		
		
		<form id="myform" method="get" action="/gifweb/user/index" name="myform">
			<div class="explain-col search-form">
				
				关键字：
				
				<input type="text" size="20" placeholder="关键字（手机号or昵称）" value="{_$option.search_key _}"  name="search_key" >
				&nbsp;&nbsp;
				注册时间：
				<input type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'});" readonly="readonly" size="12" value="{_$option.s_create_time _}"  name="s_create_time" id="s_create_time" onClick="setDay(this);">-
				<input type="text" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'});" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'});" readonly="readonly" size="12" value="{_$option.e_create_time _}"  name="e_create_time" id="e_create_time" onClick="setDay(this);">
				
				<input type="submit" class="button" value="搜索" />
			</div>
		</form>
			
		
		<form method="post" action="/gifweb/user/index" name="myform2">
			<table cellspacing="0" width="100%">
				<thead>
					<tr>
						<th align="center" width="5%">账号ID</th>
						<th align="center" width="10%">手机号</th>
						<th align="center" width="10%">昵称</th>
						<th align="center" width="10%">注册时间</th>
						<th width="10%">最近登录时间</th>
						<th width="5%">收藏数</th>
						<th width="5%">分享数</th>
						<th width="5%">状态</th>
						<th width="18%">操作</th>
					</tr>
				</thead>
				<tbody>
					{_foreach from=$data.users item=item _}
					<tr>
						<td align="center" widtd="5%">{_$item.uid _}</td>
						<td align="center" widtd="10%">{_$item.mobile _}</td>
						<td align="center" widtd="10%">{_$item.nickname _}</td>
						<td align="center" widtd="10%">{_$item.create_time _}</td>
						<td align="center" widtd="10%">{_$item.login_time _}</td>
						<td align="center" widtd="5%">{_$item.like_num _}</td>
						<td align="center" widtd="5%">{_$item.share_num _}</td>
						<td align="center" widtd="5%">{_if $item.status=='1' _}正常{_else _}<font color="red">封停</font>{_/if _}</td>
						<td align="center" widtd="18%"><div><a href="edit/{_$item.uid _}">编辑</a></td>
					</tr>
					{_/foreach _}
				</tbody>
			</table>
			<div class="btn text-r"></div>
			<div id="pages">{_$data.pages _}</div>
		</form>
	</div>
</div>
<script>

function set_manager_user(id)
{
	if(confirm('确定？'))
	{
		//ajax
	 $.ajax({
	 	type: "POST",
	 	data: {uid:id,act:'open'},
        dataType: "json",
	    url: '/gifweb/user/set',
	    success: function(data){
	    	if(data.message=='无权限')
	    	{
	    		
	    	}else
	    	{
	    		$('#set_m'+id).attr('onclick',"").click(function(){close_manager_user(id);}).attr('onclick',"").html('<img width="15" height="15" src="/admin/statics/images/y.png" />');
	    	}
	     alert(data.message);
	     
	    }
	  });	
	}
}

</script>
{_include file="include/_footer.inc.html" _}