{_include file="include/_header.inc.html" _}
<link href="/statics/styles/jquery.treeTable.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/statics/scripts/jquery.treetable.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#dnd-example").treeTable({
			indent: 20
		});
	});
	function checknode(obj)
	{
		var chk = $("input[type='checkbox']");
		var count = chk.length;
		var num = chk.index(obj);
		var level_top = level_bottom =  chk.eq(num).attr('level')
		for (var i=num; i>=0; i--)
		{
			var le = chk.eq(i).attr('level');
			if(eval(le) < eval(level_top))
			{
				chk.eq(i).attr("checked",true);
				var level_top = level_top-1;
			}
		}
		for (var j=num+1; j<count; j++)
		{
			var le = chk.eq(j).attr('level');
			if(chk.eq(num).attr("checked")==true) {
				if(eval(le) > eval(level_bottom)) chk.eq(j).attr("checked",true);
				else if(eval(le) == eval(level_bottom)) break;
			}
			else {
				if(eval(le) > eval(level_bottom)) chk.eq(j).attr("checked",false);
				else if(eval(le) == eval(level_bottom)) break;
			}
		}
	}
</script>
{_if $view.roleid _}
<div class="table-list" id="load_priv">
	<table width="100%" cellspacing="0">
		<thead>
			<tr>
				<th style="padding-left:30px;" class="text-l cu-span"><span onclick="javascript:$('input[name=menuid[]]').attr('checked', true)">全选</span>/<span onclick="javascript:$('input[name=menuid[]]').attr('checked', false)">取消</span></th>
			</tr>
		</thead>
	</table>
	<form name="myform" action="{_$view.uri _}" method="post">
		<input type="hidden" name="roleid" value="{_$view.roleid _}" />
		<table width="100%" cellspacing="0" id="dnd-example">
			<tbody>
				{_$view.categorys _}
			</tbody>
		</table>
		<div class="btn"><input type="submit" value="提交" id="dosubmit" name="dosubmit" class="button" /></div>
	</form>
</div>
{_else _}
<style type="text/css">
.guery{background: url(/statics/images/msg_bg.png) no-repeat 0px -560px;padding:10px 12px 10px 45px; font-size:14px; height:100px; line-height:96px}
.guery{background-position: left -460px;}
</style>
<div style="margin:0 auto;text-align:center;">
	<div style="display:inline-block;display:-moz-inline-stack;zoom:1;_display:inline;" class="guery">
	请选择角色！
	</div>
</div>
{_/if _}
{_include file="include/_footer.inc.html" _}